body {
    max-width: 40rem;
    margin: auto;
    padding: 1em;
    font-family: 'Alegreya', serif;
    font-size: 1.125em;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
}

a {
    color: black;
}

a:hover {
    color: #606060;
}

header {
    text-align: center;
}

.formula {
    text-align: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
}

.menu a {
    text-decoration: none;
    padding: 1em;
}
